a:-webkit-any-link {
  text-decoration: none;
  color: inherit; }
  a:-webkit-any-link:hover {
    color: #FFBC00;
    transition: 0.5s; }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  * {
    box-sizing: border-box; }

  #about {
    height: auto; }
    #about #content h2, #about #content h3, #about #content h4 {
      padding-bottom: 8px; }
    #about #content h3 {
      font-size: 1em; }
    #about #content h4 {
      font-size: 1em;
      color: #404040; }

  body {
    background-color: #E6E6E6;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #404040; }

  .caps {
    text-transform: uppercase; }

  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

  .color-red {
    background-color: #F00; }

  .color-yellow {
    background-color: #FF3; }

  .color-cyan {
    background-color: #00F; }

  .color-green {
    background-color: #0F0; }

  #container {
    height: 100%;
    width: 100%;
    margin: auto; }

  .container-fluid {
    width: 100%;
    height: 100%;
    display: block; }

  #content li {
    display: inline;
    float: left;
    padding-top: 8px;
    padding-right: 32px; }
  #content h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center; }
  #content h3 {
    font-size: 1em; }
  #content h4 {
    color: #f15148; }
  #content h5 {
    font-size: 14px;
    padding-bottom: 4px; }
  #content p {
    font-size: 14px; }

  [class*="col-"] {
    float: left; }

  #edu {
    height: auto; }

  #exp {
    height: auto; }

  html {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 100%; }

  header, main, article {
    height: 100%; }

  #hero {
    background-color: #5168a5; }
    #hero h1 {
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      color: #E6E6E6;
      text-align: center;
      padding: 128px 8px 8px 8px;
      font-size: 2em; }
    #hero .title {
      font-family: 'Roboto', sans-serif;
      color: #FFBC00;
      text-align: center;
      padding: 1% 1% 0% 1%;
      font-size: 1em; }
    #hero hr {
      margin: 2em; }
    #hero li {
      color: #E6E6E6;
      display: inline;
      float: left;
      width: 25%;
      text-align: center; }

  #left {
    background-color: #E6E6E6;
    height: 100%;
    z-index: 3; }

  #right {
    z-index: 2;
    height: 100%; }

  .row::after {
    content: "";
    clear: both;
    display: table; }

  p {
    line-height: 1.5em; }

  .secondary-bg {
    background-color: #f15148;
    color: #E6E6E6; }
    .secondary-bg h3 {
      color: #404040;
      font-weight: 700; }

  #skl {
    height: auto; }
    #skl .wrapper {
      border-bottom: none; }

  .socialmedia {
    padding: 32px 0px 0px 0px;
    margin: auto;
    width: 50%; }

  .wrapper {
    padding: 8px 16px 8px 24px;
    border-bottom: 1px solid #404040;
    height: 100%; } }
@media only screen and (min-width: 768px) and (max-width: 960px) {
  * {
    box-sizing: border-box; }

  #about {
    height: auto; }
    #about #content h2, #about #content h3, #about #content h4 {
      padding-bottom: 8px; }
    #about #content h3 {
      font-size: 1em; }
    #about #content h4 {
      font-size: 1em;
      color: #404040; }

  body {
    background-color: #E6E6E6;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #404040; }

  .caps {
    text-transform: uppercase; }

  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

  .color-red {
    background-color: #F00; }

  .color-yellow {
    background-color: #FF3; }

  .color-cyan {
    background-color: #00F; }

  .color-green {
    background-color: #0F0; }

  #container {
    height: 100%;
    width: 100%;
    margin: auto; }

  .container-fluid {
    width: 100%;
    height: 100%;
    display: block; }

  #content li {
    display: inline;
    float: left;
    padding-top: 8px;
    padding-right: 32px; }
  #content h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center; }
  #content h3 {
    font-size: 1em; }
  #content h4 {
    color: #f15148; }
  #content h5 {
    font-size: 14px;
    padding-bottom: 4px; }
  #content p {
    font-size: 14px; }

  [class*="col-"] {
    float: left; }

  #edu {
    height: auto; }

  #exp {
    height: auto; }

  html {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 100%; }

  header, main, article {
    height: 100%; }

  #hero {
    background-color: #5168a5; }
    #hero h1 {
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      color: #E6E6E6;
      text-align: center;
      padding: 128px 8px 8px 8px;
      font-size: 2.6em; }
    #hero .title {
      font-family: 'Roboto', sans-serif;
      color: #FFBC00;
      text-align: center;
      padding-top: 1%;
      padding-bottom: 80%;
      font-size: 2em; }
    #hero hr {
      margin: 2em; }
    #hero li {
      color: #E6E6E6;
      display: inline;
      float: left;
      width: 25%;
      text-align: center; }

  #left {
    background-color: #E6E6E6;
    height: 100%;
    z-index: 3; }

  #right {
    z-index: 2;
    height: 100%; }

  .row::after {
    content: "";
    clear: both;
    display: table; }

  p {
    line-height: 1.5em; }

  .secondary-bg {
    background-color: #f15148;
    color: #E6E6E6; }
    .secondary-bg h3 {
      color: #404040;
      font-weight: 700; }

  #skl {
    height: auto; }
    #skl .wrapper {
      border-bottom: none; }

  .socialmedia {
    padding: 32px 0px 0px 0px;
    margin: auto;
    width: 50%; }

  .wrapper {
    padding: 8px 16px 8px 24px;
    border-bottom: 1px solid #404040;
    height: 100%; } }
@media only screen and (min-width: 960px) {
  * {
    box-sizing: border-box; }

  #about {
    height: auto; }
    #about #content h2, #about #content h3, #about #content h4 {
      padding-bottom: 8px; }
    #about #content h3 {
      font-size: 1em; }
    #about #content h4 {
      font-size: 1em;
      color: #404040; }

  body {
    background-color: #E6E6E6;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #404040; }

  .caps {
    text-transform: uppercase; }

  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

  .color-red {
    background-color: #F00; }

  .color-yellow {
    background-color: #FF3; }

  .color-cyan {
    background-color: #00F; }

  .color-green {
    background-color: #0F0; }

  #container {
    height: 100%;
    width: 100%;
    margin: auto; }

  .container-fluid {
    width: 100%;
    height: 100%;
    display: block; }

  #content li {
    display: inline;
    float: left;
    width: 25%;
    padding-top: 8px;
    padding-right: 4px; }
  #content h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    text-align: left; }
  #content h3 {
    font-size: 1em; }
  #content h4 {
    color: #f15148; }
  #content h5 {
    line-height: 1.25em;
    font-size: 14px;
    padding: 8px 0px; }
  #content hr {
    display: none; }
  #content p {
    font-size: 14px; }

  [class*="col-"] {
    float: left; }

  #edu {
    height: auto; }

  #exp {
    height: auto; }

  html {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 100%; }

  header, main, article {
    height: 100%; }

  #hero {
    background-color: #5168a5; }
    #hero h1 {
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      color: #E6E6E6;
      text-align: center;
      padding-top: 35%;
      font-size: 3em; }
    #hero .title {
      font-family: 'Roboto', sans-serif;
      color: #FFBC00;
      text-align: center;
      padding-top: 1%;
      padding-bottom: 75%;
      font-size: 2.5em; }
    #hero hr {
      margin: 2em; }
    #hero li {
      color: #E6E6E6;
      display: inline;
      float: left;
      width: 25%;
      text-align: center; }

  #left {
    background-color: #E6E6E6;
    height: 100%;
    z-index: 3; }

  #right {
    z-index: 2;
    height: 100%; }

  .row::after {
    content: "";
    clear: both;
    display: table; }

  p {
    line-height: 1.5em; }

  .secondary-bg {
    background-color: #f15148;
    color: #E6E6E6; }
    .secondary-bg h3 {
      color: #404040;
      font-weight: 700; }

  #skl {
    height: auto; }
    #skl .wrapper {
      border-bottom: none; }

  .socialmedia {
    padding: 32px 0px 0px 0px;
    margin: auto;
    width: 50%; }

  .wrapper {
    padding: 8px 16px 8px 24px;
    border-bottom: 1px solid #404040;
    height: 100%; } }

/*# sourceMappingURL=main.css.map */
